/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 12, ../sass/screen.scss */
.opacity {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 16, ../sass/screen.scss */
.list-horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 62, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.list-horizontal li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
}

/* line 19, ../sass/screen.scss */
.inline-block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 22, ../sass/screen.scss */
.text-wrap {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

/* line 25, ../sass/screen.scss */
.text-nowrap {
  white-space: nowrap;
}

/* line 28, ../sass/screen.scss */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 31, ../sass/screen.scss */
.text-hide {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

/* line 34, ../sass/screen.scss */
.text-squish {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

/* line 37, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 40, ../sass/screen.scss */
.pull-left {
  float: left;
}

/* line 43, ../sass/screen.scss */
.pull-right, .site-logo, .header-nav {
  float: right;
}

/* line 46, ../sass/screen.scss */
.has-layout {
  *zoom: 1;
}

/* line 52, ../sass/screen.scss */
.container, .header-inner {
  width: 1200px;
  margin: 0 6px 9px auto;
}

/* line 56, ../sass/screen.scss */
.lg-border-radius, .input-skin {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 59, ../sass/screen.scss */
.input-skin {
  padding: 6px 0;
  border: 0 none;
  outline: 0 none;
}

/* line 65, ../sass/screen.scss */
.lg-vertical-spacing {
  margin: 15px 0;
}

/* line 68, ../sass/screen.scss */
.lg-box-shadow {
  box-shadow: 0px 1px 3px #666;
}

/* line 71, ../sass/screen.scss */
.no-padding {
  padding: 0;
}

/* line 74, ../sass/screen.scss */
.header-inner {
  overflow: hidden;
  *zoom: 1;
}
/* line 78, ../sass/screen.scss */
.site-logo {
  margin: 9px 0;
}

/* line 82, ../sass/screen.scss */
.header-nav {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-block-list.scss */
.header-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 85, ../sass/screen.scss */
.header-nav li {
  line-height: 60px;
}
/* line 87, ../sass/screen.scss */
.header-nav li:hover {
  background: #f0f0f0;
}
/* line 90, ../sass/screen.scss */
.header-nav li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  padding: 0 10px;
  font-size: 20px;
}
/* line 6, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
.header-nav li a:active, .header-nav li a:focus {
  outline: none;
}

/* line 98, ../sass/screen.scss */
.login-banner-list {
  width: 100%;
  height: 434px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-block-list.scss */
.login-banner-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}

@media screen and (max-width: 1900px) {
  /* line 104, ../sass/screen.scss */
  li img {
    margin-left: -220px;
  }
}
